/Embeddings
/task1_data
/task2_data
/task3_data
Кайгородов_НИРС.docx
Кайгородов_НИРС.pdf
Tutorial_LSTM_RomanR.ipynb 
hyperopt.ipynb 
Annotation (1).pdf
/Classification models. T2/test_data.csv
/Classification models. T2/test_data2.csv
/Classification models. T2/train_data2.csv
/Classification models. T2/validation_data2.csv
